.home-top-box {
  color: var(--dark);
  text-decoration: none;
  display: flex;
  column-gap: 23px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  width: 380px;
  align-items: center;

  &__picture {
    display: block;
    width: 149px;
    height: 146px;
    object-fit: cover;
    object-position: center center;
    flex: 0 0 149px;
    margin: 0;
  }

  &__desc {
    flex: 1 1 auto;
  }

  &__title {
    font-size: 18px;
    line-height: 133%;
    margin: 0;
    margin-bottom: 16px;
  }

  &__p {
    margin: 0;
    font-size: 14px;
    line-height: 135%;
  }

  &__double-img {
    &:nth-of-type(1) {
      display: block;
      width: 149px;
      height: 146px;
      object-fit: cover;
      object-position: center center;
      flex: 0 0 149px;
    }

    &:nth-of-type(2) {
      width: 165px;
    }
  }

  @media (max-width: 882px) {
    box-sizing: border-box;
    width: 318px;
    gap: 18px;
    &__picture {
      width: 118px;
      height: 116px;
      flex: 0 0 118px;
    }
    &__title {
      font-size: 16px;
      line-height: 131%;
      margin-bottom: 7px;
    }
    &__double-img {
      &:nth-of-type(1) {
        width: 118px;
        height: 116px;
        flex: 0 0 118px;
      }

      &:nth-of-type(2) {
        width: 165px;
        height: 160px;
        object-fit: contain;
        object-position: center center;
      }
    }
  }
}