.home-top1 {
  display: grid;
  box-sizing: border-box;
  margin-bottom: 50px;

  grid-template-columns: repeat(3, 380px);
  justify-content: space-between;
  gap: 25px;
  align-items: flex-start;

  & > * {
    box-sizing: border-box;
    overflow: hidden;
  }


  &__item {
  }

  &__swiper {
    grid-column-start: span 2;
    grid-row-start: span 2;

    .swiper {
    }

    .mySwiper-home-top {
    }

    .swiper-wrapper {
    }

    .swiper-slide {
      position: relative;
    }

    .swiper-pagination {
      bottom: 23px;
      right: 29px;
      left: auto;
      position: absolute;
      width: -moz-fit-content;
      width: fit-content;
    }

    .swiper-button-next {
    }

    .swiper-button-next-arrowed {
    }

    .swiper-button-prev {
    }

    .swiper-button-prev-arrowed {
    }

  }

  &__content {
    position: absolute;
    bottom: 19px;
    left: 20px;
  }

  &__heading {
    margin: 0;
    color: var(--light);
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 20px;
    font-weight: 300;
  }

  &__footer {
  }

  &__btn {
    color: var(--dark);
    background-color: var(--light);
    padding: 16px 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;

    svg {
      height: 22px;
    }
  }

  @media (max-width: 1236px) {
    grid-template-columns:  repeat(2, 380px);
    justify-content: center;
  }
  @media (max-width: 882px) {
    grid-template-columns:  repeat(2, 318px);
    gap: 10px;

    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
  }
  @media (max-width: $mobile) {
    margin-bottom: 40px;
    grid-template-columns: 318px;
    &__swiper {
      grid-column-start: span 1;
      grid-row-start: span 1;
      display: flex;
      min-height: 229px;

      .swiper-pagination {
        bottom: 94px;
        right: 50%;
        transform: translateX(50%);
        left: auto;
        position: absolute;
        width: -moz-fit-content;
        width: fit-content;
      }

      img {
        object-fit: cover;
        height: 229px;
      }
    }
    &__content {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    &__btn {
      padding: 16px 30px;
      text-decoration: none;
      display: flex;
      align-items: center;
      width: -moz-fit-content;
      width: fit-content;
      font-size: 16px;
      line-height: 131%;
      bottom: 30px;

      svg {
        height: 22px;
      }
    }
  }
}