.app-block-shop-by-room {

  &__container {
  }

  &__heading {
  }

  .container-md {

  }

  &__swiper {
    margin-bottom: 54px;

    .swiper {
      padding-left: 40px;
      padding-right: 40px;
      box-sizing: border-box;
    }

    .swiper-shop-by-room {
    }

    .swiper-wrapper {
    }

    .swiper-slide {
      position: relative;
      z-index: 1;
      text-align: center;
      text-decoration: none;
      color: inherit;

      &::after {
        content: '';
        width: 40px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: -40px;
        background-color: var(--light);
        z-index: 1;
      }
    }

    .img-responsive {
    }

    .swiper-pagination {
      display: none;
    }

    .swiper-pagination-dark {
    }

    .swiper-button-next {
      margin-top: -15px;
    }

    .swiper-button-prev {
      margin-top: -15px;
    }

  }

  &__img {
  }

  &__title {
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    margin-top: 16px;
    margin-bottom: 5px;
    color: var(--dark);
    text-decoration: none;
  }

  &__subtitle {
    font-size: 14px;
    color: rgb(101, 91, 85);
    line-height: 190%;
    display: none;
  }

  @media (max-width: $mobile) {
    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
    &__swiper {
      .swiper {
        padding-bottom: 31px;
        padding-left: 0px;
        padding-right: 0px;

      }

      .swiper-pagination {
        display: block;
        bottom: 0px;
      }

    }
    &__title {
      margin-bottom: 0px;
        font-size: 16px;
      line-height: 168%;
    }
    &__img {
      height: 114px;
      object-fit: cover;
      object-position: center center;
    }
    &__subtitle {
      display: block;
      margin: 0;
      color: var(--dark);
    }
  }
}

.heading-md {
}

