.breadcrumbs {
  display: flex;
  position: relative;

  &__link {
    position: relative;
    text-decoration: none;
    opacity: 0.5;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #000000;
    &:not(:last-child):after {
      content: '»';
      margin: 0 5px;
    }
  }
  @media (max-width: $mobile-sm) {
    justify-content: flex-end;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.05), #fff);
      z-index: 1;
      pointer-events: none;
    }
    &__link {
      white-space: nowrap;
    }
  }
}