.header {

  &__container {
    padding-top: 13px;
  }

  &__quick-menu {
  }

  &__ul {
    display: flex;
    gap: 19px;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }

  &__li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.502);
    line-height: 150%;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__logos {
  }

  &__logo {

    &_desktop {
      svg {
        width: 392px;
        transform: translateY(10px);
      }
    }

    &_mobile {
      width: 47px;
      height: 47px;
      display: none;
    }
  }

  &__side {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__search-icon {
    width: 24px;
    display: none;
  }

  &__search {
    position: relative;

    input[type="search"] {
      border: 1px solid #e8e8e8;
      padding: 11px 35px 11px 11px;
      background-color: transparent;
      width: 100%;
      display: block;
      max-width: 183px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.502);
      line-height: 140%;

      &::placeholder {
        font-size: inherit;
        color: inherit;
        line-height: inherit;
      }
    }

    button[type="submit"] {
      border: none;
      outline: none;
      background-color: transparent;
      vertical-align: middle;
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 5px;
      svg {
        width: 20px;
        transform: translateY(2px);
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }



  &__like, &__cart {
    position: relative;

    &:before {
      content: attr(data-quantity);
      font-size: 10px;
      line-height: 210%;
      //display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      //width: 17px;
      width: 19px;
      //height: 16px;
      height: 14px;
      top: 0;
      left: 0;
      //background-image: url(../../img/header-icon-bg.png);
      background-color: var(--dark);
      border-radius: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      color: var(--light);
      z-index: 1;

    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -6px;
      left: 13px;
      width: 8px;
      height: 8px;
      background-color: var(--dark);
      transform-origin: top;
      transform: rotate(45deg);
      pointer-events: none;
    }
  }

  &__like {
    &:before {
      top: -17px;
      //left: 10px;
      left: 1px;
      //transform: translateY(-115%) translateX(20%);
    }
    &:after {
      top: -8px;
      left: 9px;
    }
    svg {
      width: 20px;
    }
  }

  &__cart {
    &:before {
      top: -16px;
      //left: 10px;
      left: 4px;
      //transform: translateY(-110%) translateX(35%);
    }
    &:after {
      top: -7px;
      left: 12px;
    }
    width: 22px;
  }

  &__hamburger {
    display: none;
  }

  &__nav {
    margin-top: 23px;
  }

  @media (max-width: $pre-mobile) {

    &__quick-menu {
      display: none;
    }

    &__main {
      padding-top: 15px;
      padding-bottom: 15px;
      align-items: flex-end;
    }

    &__logos {
    }

    &__logo {

      &_desktop {
        display: none;
      }

      &_mobile {
        display: block;
      }
    }

    &__side {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__search-icon {
      display: block;
    }

    &__search {
      position: absolute;
      top: 10px;
      left: 30%;
      -webkit-transition: all .25s linear;-moz-transition: all .25s linear;-ms-transition: all .25s linear;-o-transition: all .25s linear;transition: all .25s linear;
      transform: translateY(-500%);
    }

    &__like, &__cart {
      position: relative;

      &:before {
        content: attr(data-quantity);
        font-size: 10px;
        line-height: 210%;
        //display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 19px;
        height: 14px;
        top: 0;
        left: 0;
        //background-image: url(../../img/header-icon-bg.png);
        background-color: var(--dark);
        border-radius: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        color: var(--light);
        z-index: 1;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: 13px;
        width: 8px;
        height: 8px;
        background-color: var(--dark);
        transform-origin: top;
        transform: rotate(45deg);
      }
    }

    &__like {
      &:before {
        transform: translateY(-115%) translateX(25%);
      }
      &:after {
        top: -8px;
        left: 13px;
        //transform: rotate(45deg) translateY(-155%) translateX(120%);
      }
      svg {
        width: 24px;
      }
    }

    &__cart {
      &:before {
        transform: translateY(-110%) translateX(40%);
      }
      &:after {
        top: -7px;
        left: 14.5px;
      }
      width: 26px;
    }

    &__hamburger {
      display: block;
      svg {
        height: 19px;
        .st2 {
          stroke-width: 0;
          fill: var(--dark);
        }
      }
    }

    &__nav {
      margin-top: 0;
    }
    border-bottom: 3px solid var(--dark);

    &.menu_active {
      .header__nav {
        transform: translateX(0);
      }
    }
    &.header_search {
      .header__search {
        transform: translateY(0);
        z-index: 10;
        background: var(--light);
      }
    }
  }
}


