.app-page-home {

  &__container {
  }

  &__message {

    margin-top: 29px;
    margin-bottom: 25px;

    &:after {
      content: ' »';
    }
  }


  @media (max-width: $mobile) {

    &__message {
      margin-top: 21px;
      margin-bottom: 21px;
    }

    &__top {
      row-gap: 10px;
    }
  }
}




