.app-page {

  &__container {
  }

  &__slider {

  }

  &__catalog {
  }

  &__pagination {
    margin-top: 57px;
    margin-bottom: 57px;
  }
  @media (max-width: $mobile) {

    &__slider {

    }

    &__pagination {
      margin-bottom: 47px;
    }
  }
}






